services:
  dev:
    image: node:latest
    working_dir: /app
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm ci && npm run dev -- --host 0.0.0.0"
    environment:
      - CHOKIDAR_USEPOLLING=true

  prod:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
